.form-group{

  text-align: center;
  margin-top: 5%;

}

.nombre {

  font-weight: bold;
  margin-bottom: 5%;

}

.pais {

  font-weight: bold;
  margin-bottom: 5%;
}

.inputNombre{
  width: 18%;
  height: 10%;
}

.App{
  margin-top: 5%;
  text-align: center;
  background-color: darkcyan ;
  padding: 10%;
  margin: 10%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
}

